* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: Space Mono;
    max-width: 1920px;
    margin: auto;
    background-color: #ffff;
    color: #0E0333;
}

@media (min-width: 1313px) {
    body {
        font-size: 140%;

    }
}

@media (max-width: 1600px) {
    body {
        font-size: 120%;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 110%;
    }
}

@media (max-width: 688px) {
    body {
        font-size: 100%;
    }
}


a {
    outline: none;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    max-width: 1400px;
    margin: auto;
}

.hero-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 188px;
}

h1{
    font-size: 55px;
    text-align: center;
    margin: 0px auto 50px;
}

.coordination-party-hero-description {
    width: 472px;
    margin: 0 auto;
}

.coordination-party-hero-description .title {
    font-family: 'Space Mono', monospace, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    color: #0E0333;
    text-align: left;
    margin-bottom: 4px;
    line-height: 130%;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.gitcoin-brand {
    display: flex;

    padding-top: 154px;
    padding-bottom: 154px;
    justify-content: center;
    align-items: center;
}

.gitcoin-brand img {
    width: 178px;
}

/* Form Styles */
.form {
    display: flex;
    max-width: 478px;
    margin: 0 auto;
    flex-direction: column;
    place-items: center;
    font-family: Space Mono, sans-serif;
}

.form label {
    width: 552px;
    height: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #0E0333;
}

.form label.top {
    margin-top: 52px;
}

.form input {
    width: 100%;
    height: 80px;
    background: #E6FFF9;
    border: 1px solid #02E2AC;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-size: 30px;
    font-family: Space Mono, sans-serif;
    color:  #02E2AC;
}


.form input::placeholder {
    margin-top: 100px;
    color: #02E2AC;
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}


.buttons-green-pill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.buttons-green-pill a {
    width: 147px;
    height: 30px;
    font-family: Space Mono, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-decoration: underline;
    color: #6F3FF5;
}

/* first button*/
.buttons-green-pill button:first-child {
    display: flex;
    align-items: center;
    background: none;
    border: none;
}

.buttons-green-pill button:first-child img {
    width: 13px;
    height: 13px;
    margin-right: 13px;
}

/* second button */

.buttons-green-pill button:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    height: 60px;
    background: #02E2AC;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.buttons-green-pill button:last-child img {
    width: 30px;
    height: 30px;
    margin-right: 22px;
    margin-left: 26px;
}

.buttons-green-pill button:last-child p {
    width: 67px;
    height: 24px;
    font-family: Libre Franklin, Arial, Space Mono, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #E6FFF9;
    margin-right: 38px;
}

#podcast {
    background-color: #ffff;
    color: #000000;
}

/* End */

/* GreenPill */
.background-bubble {
    background-image: url(../image/background-top-bubble.svg);
}

.background-greenpill {
    background-image: url(../image/background-greenpill.svg);
}

.background-triangle {
    background-image: url(../image/effects-podcast.svg);
}

/* Responsive Style */
@media (max-width: 1280px) {


    .hero-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;

    }

    .coordination-hero-description {
        margin: 0;
    }

    .coordination-hero-description .title {
        font-size: 64px;
        color: #FFCC00;
    }

}

@media (max-width: 760px) {


    .form label {
        width: 500px;
    }
}

@media (max-width: 560px) {
    .coordination-party-hero-description {
        width: 100%;
        padding: 0 4%;
        
        
    }
    
    .coordination-party-hero-description .title {
        text-align: center;
        font-size: 36px;
    }

    .form {
        padding: 0 2%;
    }

    .gitcoin-brand {
        padding-top: 16px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .form label {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .form {
        padding: 0 4%;
    }

    .form label,
    .form input,
    .form input::placeholder {
        font-size: 18px;
    }

    .buttons-green-pill {
        flex-direction: column;
        place-items: center;
        gap: 4px;
    }
}

/* start call action */
.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    flex-direction: column;
}
.call-to-action.title {
    font-size: 0.625rem;
    color: #0E0333;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.call-to-action.revert {
    flex-direction: reverse;
}

.wrapper {
    width: 409px;
    height: 490px;
}

.wrapper.nft {
    width: 256px;
    height: 256px;
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.call-to-action button {
    width: 250px;
    height: 48px;
    color: #E6FFF9;
    font-weight: bold;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 60px;
    background: #02E2AC;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: transform .2s;
    margin-right: 55px;
}

.call-to-action button:hover {
    filter: brightness(.96);
    transform: translateY(-2px)
}
.call-action-wrapper-buttons {
    display: flex;
}
.call-action-info h2{
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* end call action */


 

  nav {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
  }
  
  .logo {
    display: inline-block;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #0E0333;
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-item:hover a {
    color: #02E2AC;

  }
  
  .logo img {
    vertical-align: middle;
    width: 106.92px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .call-to-action.background {
    background-color: #02E2AC;
    flex-direction: row-reverse;
  }

  .call-to-action.background .call-action-box {
    width: 465px;
    margin-top: 135px;
    margin-right: 347px;
  }

  .call-action-info .title {
    font-family: Space Mono;
    font-style: normal;
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: left;
  }
  .call-to-action.background .call-action-wrapper-buttons {
    padding: 0;
    display: flex;
  }

  #book-section .wrapper  {
    margin-right: 10em;
  }

  #book-section .title, #nft-section .title {
    font-family: Space Mono;
    font-style: normal;
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: left;
  }


  #nft-section {
    margin-bottom:  9.375rem;
  }

  #nft-section .call-action-box {
    height: 168px;
    width: 621px;
    left: 293px;
    top: 2969px;
  }

  section#nft-section {
    display: flex;
    justify-content: left;
    margin-left: 170px;
}

.nav-toggle {
    display: none;
}

@media only screen and (max-width: 768px) { 
    .logo {
        display: flex;
        align-self: flex-start;
        margin-top: 30px;
    }
    
    .logo img {
        width: 75px;
    }

    .navbar {
        margin-bottom: 20px;
    }

    .navbar, .nav-links {
        flex-direction: column;
    }
    .navbar__ToggleShow {
        display: flex;
    }

    .nav-links {
        display:none;
    }

    .nav-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        margin-top: 30px;
        font-size: 40px;
        margin-right: 26px;
    }

    .hero-container {
        margin-bottom: 0;
    }

    .call-to-action {
        gap: 0;
        padding: 0;
    }

    #book-section .wrapper {
        margin: 0;
    }

    #book-section .call-to-action {
        flex-direction: column-reverse;
    }


    #book-section .title, #nft-section .title {
        line-height: 70px;
    }

    

    section#nft-section{
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 200px;
        margin-left: 50px;
    }


    .call-to-action.background {
        display: flex;
        flex-direction: column;
    }

    .wrapper img {
        height: 50%;
    }

    body {
        font-size: 100%;
    }

    .call-action-box {
        width: 350px;
        margin: 70px;
    }

    .wrapper {
        width: 50%;
        height: 50%;
    }

    .call-to-action.background .call-action-box { 
        width: auto;
        margin: 40px;
    }

    .call-action-info .title {
        line-height: 61px;
    }

    #nft-section  .call-action-box {
        margin: auto;
        width: auto;
    }

}


  
  