<!-- call action podcast -->
<section class='call-to-action'>
    <div class='wrapper-right'>
        <img src="image/green-pill-podcast.jpeg" alt="Green Pill action" />
    </div>
    <div class="call-action-box">
        <h3>subscribe to the greenpill podcast</h3>
    </div>
    <button id="target" type="button" data-kinetics-attraction="" data-kinetics-attraction-chance=".99"
        data-kinetics-attraction-grow="20" data-kinetics-attraction-type="drone" data-kinetics-attraction-radius="1.7">
        <p>subscribe</p>
    </button>
</section>
<!-- end call action podcast -->



<!-- call action book -->
<section class='call-to-action'>
    <div class='wrapper-right'>
        <img src="image/green-pill-book.jpeg" alt="Green Pill book" />
    </div>
    <div class="call-action-box">
        <h3>purchase the greenpill book</h3>
    </div>
    <div class="call-action-wrapper-buttons">
            <button id="target" type="button" data-kinetics-attraction="" data-kinetics-attraction-chance=".99"
            data-kinetics-attraction-grow="20" data-kinetics-attraction-type="drone" data-kinetics-attraction-radius="1.7">
            <p>purchase</p>
        </button>
        <button id="target" type="button" data-kinetics-attraction="" data-kinetics-attraction-chance=".99"
        data-kinetics-attraction-grow="20" data-kinetics-attraction-type="drone" data-kinetics-attraction-radius="1.7">
        <p>PDF</p>
    </button>
    </div>
   
</section>
<!-- end call action book  -->


<!-- call action NFT -->
<section class='call-to-action'>
    <div class='wrapper-right'>
        <img src="image/green-pill-book.jpeg" alt="Green Pill NFT" />
    </div>
    <div class="call-action-box">
        <h3>purchase the greenpill NFT</h3>
    </div>
    <div class="call-action-wrapper-buttons">
            <button id="target" type="button" data-kinetics-attraction="" data-kinetics-attraction-chance=".99"
            data-kinetics-attraction-grow="20" data-kinetics-attraction-type="drone" data-kinetics-attraction-radius="1.7">
            <p>mint</p>
        </button>
    </button>
    </div>
   
</section>
<!-- end call action book  -->



<!-- call action Build HERE -->
<section class='call-to-action'>
    <div class='wrapper-right'>
        <!-- add image here -->
        <img src="image/green-pill-book.jpeg" alt="Green Pill NFT" />
    </div>
    <div class="call-action-box">
        <!-- change title -->
        <h3>TITLE HERE</h3>
    </div>
    <div class="call-action-wrapper-buttons">
            <button id="target" type="button" data-kinetics-attraction="" data-kinetics-attraction-chance=".99"
            data-kinetics-attraction-grow="20" data-kinetics-attraction-type="drone" data-kinetics-attraction-radius="1.7">
            <p>ACTION BUTTON </p>
            <!-- change title -->
        </button>
    </button>k
    </div>
   
</section>
<!-- end call action book  -->


<!-- script target  -->
